* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-header: hsl(218, 17%, 62%);
  --bg-h1: hsl(275, 18%, 79%);
  --bg-span: hsl(312, 91%, 96%);
  --fc-p: hsl(274, 84%, 12%);
  --fc-span: hsl(232, 17%, 35%);

  --ff-header: 'Staatliches', sans-serif;
  --ff-p: 'Palanquin', sans-serif;

  font-size: 62.5%
}

body {
  font-size: 1.6rem;
}

.page {
  min-width: 38.4rem;

}

header .logo {
  background: var(--bg-header);
  height: 28rem;
  text-align: center;

}

header .logo img {
  width: 12.5rem;
  background: no-repeat;
  margin: 3.2rem;
}

header .logo h1 {
  background-color: var(--bg-h1);
  color: #FFFFFF;

  font-family: var(--ff-header);

  font-size: 4.0rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  height: 4.9rem;

  padding: 0.8rem 0 0.7rem 0;
  margin-bottom: 3.6rem;
}

header p {
  text-align: center;
  padding-left: 3.6rem;
  padding-right: 4.3rem;

  font-family: var(--ff-p);
  font-size: 1.5rem;
  line-height: 1.5rem;

  background: #FFFFFF;
  margin-top: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main p {
  margin-top: 5.0rem;
  color: #4A4E69
}


.card {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin-top: 6.3rem;
  text-align: center;
}

.card-m,
.card-g {
  display: flex;
  flex-direction: column;

  position: relative;
}

.card-m img {
  width: 32.0rem;
  height: 25.0rem;
}

.card-g img {
  width: 32.0rem;
  height: 45.0rem;
}

.card-m img,
.card-g img {
  border-radius: 2.0rem;
  object-fit: cover;
}

.card-m span,
.card-g span {
  position: absolute;

  font-family: var(--ff-header);
  font-size: 2.0rem;
  line-height: 3.4rem;

  color: var(--fc-span);
  background: var(--bg-span);

  width: 11.2rem;
  height: 3.5rem;
  left: 19.2rem;
  top: 1.6rem;


  border-radius: 20px;
}

@media (min-width: 700px) {
  .page {
    border: 1px solid black;
  }

  main {
    width: 100%;
    padding: 2.5rem 8.0rem 8.4rem 8.0rem;
  }

  main .card span {
    font-size: 1.5rem;
    width: 7rem;
    height: 3.5rem;
    left: 14.2rem;
    top: 1rem;
  }


  main .card {
    width: 100%;
    display: grid;
    justify-content: center;

    grid-template-areas: "A B"
      "C D"
      "E F"
    ;
  }

  .card-m img {
    width: 22.0rem;
    height: 35.0rem;

  }

  .card-g img {
    width: 22.0rem;
    height: 35.0rem;
  }

  .card div:nth-child(1) {
    grid-area: A;
  }

  .card div:nth-child(2) {
    grid-area: B;
  }

  .card div:nth-child(3) {
    grid-area: C;
  }

  .card div:nth-child(4) {
    grid-area: D;
  }

  .card div:nth-child(5) {
    grid-area: E;
  }

  .card div:nth-child(6) {
    grid-area: F;
  }

}

@media (min-width: 900px) {
  .page {
    display: flex;

    max-height: 100vh;
    max-width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    width: 40rem;
    height: 100vh;
    background: var(--bg-header);
  }

  header .logo img {
    width: 250px;
    height: 167px;
  }

  header .logo h1 {
    width: 100%;

    font-size: 4.0rem;
  }

  header p {

    font-family: 'Roboto', sans-serif;
    line-height: 2.0rem;
    font-size: 1.7rem;
    height: 100%;

    color: #FFFFFF;
    background: var(--bg-header);

    margin-top: 0;

  }

  main {
    width: 90rem;
    max-height: 100vh;
    padding: 2.5rem 8.0rem 8.4rem 8.0rem;
  }

  main .card span {
    font-size: 1.5rem;
    width: 7rem;
    height: 3.5rem;
    left: 14.2rem;
    top: 1rem;
  }

  main .card {
    width: 100%;
    display: grid;

    grid-template-areas: "A B C"
      "D B F"
      "D E F";
  }

  .card-m img {
    width: 22.0rem;
    height: 15.0rem;

  }

  .card-g img {
    width: 22.0rem;
    height: 35.0rem;
  }


  .card div:nth-child(1) {
    grid-area: A;
  }

  .card div:nth-child(2) {
    grid-area: B;
  }

  .card div:nth-child(3) {
    grid-area: C;
  }

  .card div:nth-child(4) {
    grid-area: D;
  }

  .card div:nth-child(5) {
    grid-area: E;
  }

  .card div:nth-child(6) {
    grid-area: F;
  }
}
